.titlecards {
  margin-top: -30px; /* pull up to overlap hero section */
  margin-bottom: 50px;
  position: relative;
  z-index: 5;
  margin-left: 6%;
}

.titlecard h2 {
  margin-bottom: 8px;
}

.card-list {
  display: flex;
  gap: 10px;
  overflow-x: scroll;
}

.card-list::-webkit-scrollbar {
  display: none; /* Hide scrollbar for webkit browsers */
}

.card-list img {
  width: 240px;

  /* height: 240px;
  object-fit: cover; */
  border-radius: 4px;
  cursor: pointer;
  margin-top: 0cqmax;
}
